<div id="appFooter">
    <section class="aui-grid">
        <div class="aui-row">
            <div class="aui-col-xs-3">
                <i class="icon iconfont icon-shouye"></i>
                <div class="aui-grid-label">首页</div>
            </div>
            <div class="aui-col-xs-3">
                <i class="icon iconfont icon-iconfontzhizuobiaozhun023141"></i>
                <div class="aui-grid-label">预约</div>
            </div>
            <div class="aui-col-xs-3">
                <i class="icon iconfont icon-icon-test"></i>
                <div class="aui-grid-label">信息</div>
            </div>
            <div class="aui-col-xs-3">
                <i class="icon iconfont icon-wode"></i>
                <div class="aui-grid-label">我的</div>
            </div>
        </div>
    </section>
</div>
