{include file="common/head"/}

<body>

<div class="header">
    <div class="top">
        <div class="left">
            <a href="javascript:;" onclick=" api.closeWin(); " style="display: inline-block;width:100%;height: 100%;">
                <i class="icon iconfont icon-fanhui"></i>
            </a>
        </div>
        <span>系统设置</span>
    </div>
</div>
<div class="aui-content aui-margin-b-15">
    <ul class="aui-list aui-form-list">
        <li class="aui-list-item aui-padded-t-5 aui-padded-b-5 aui-padded-r-15">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title">清除缓存</div>
                <div class="aui-list-item-right"></div>
            </div>
        </li>
        <li class="aui-list-item aui-padded-t-5 aui-padded-b-5 aui-padded-r-15">
            <a href="{:url('loginout')}">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title">退出登录</div>
            </div>
            </a>
        </li>
    </ul>
</div>

</body>
</html>
