{include file="common/head"/}
<style type="text/css">
    .must{
        color: red;
        font-size: 20px;
        vertical-align:-webkit-baseline-middle;
    }
    .tip{
        font-size: 20px;
        line-height: 26px;
    }
    .rightdiv p{
        padding: 5px
    }
</style>
<script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.js"></script>
<div class="admin-main layui-anim layui-anim-upbit"  ng-app="hd" ng-controller="ctrl">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>查看认领详情</legend>
    </fieldset>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 120px;">会员名称</label>
        <div class="layui-input-4">
            <input type="text" value="{$info['claim']['username']}" class="layui-input" disabled>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 120px;">已认领的仓库编号</label>
        <div class="layui-input-4">
            <input type="text" style="width: 300px" lay-verify="required" name="house_name" class="layui-input wids" value="{$info['claim']['w_id']}">
            <button type="button" class="layui-btn submits" lay-submit="" lay-filter="submit">修改</button>
            <span style="color: red">请使用英文逗号分隔仓库编号</span>
        </div>
    </div>

    <fieldset class="layui-elem-field layui-field-title">
        <legend>认领的仓库信息</legend>
    </fieldset>
    <ul class="layui-timeline">
        {volist name="info.data" id="vo"}
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">{$vo['name']}</h3>
                <div style="height: 200px;">
                    <img src="https://yuncanglian.com{$vo['pics']}" width="200px" height="150px" style="float: left;">
                    <div style="float: left;padding: 10px;padding-top:0;width: 400px;" class="rightdiv">
                        <p>等级：{$vo.leave}</p>
                        <p>租金：{$vo.price} 元/㎡/天 起</p>
                        <p>类型：{$vo.type}</p>
                        <p>位置：{$vo.addresss}</p>
                        <p>特点：{$vo.spec}</p>
                    </div>
                    <div style="float: left;" class="rightdiv">
                        <p style="font-size: 25px;">仓库编号：{$vo.id}</p>
                    </div>
                </div>
            </div>

        </li>
        {/volist}
    </ul>
        
</div>
{include file="common/foot"/}
<script type="text/javascript" src="__STATIC__/common/js/jquery.2.1.1.min.js"></script>
<link rel="stylesheet" href="__STATIC__/common/css/layui.css"  media="all">
<script type="text/javascript" src="__STATIC__/common/js/layui.js"></script>
<script type="text/javascript">
    layui.use('layer',function () {
        $(".submits").click(function(){
            var w_id = $(".wids").val();
            var ids = "{$info['claim']['id']}";
            if(w_id == ''){
                layer.open({content: '请最少保留一个仓库编号',skin: 'msg',time: 2});
                return false;
            }
            $.ajax({
                type: "POST",
                url: "{:url('editwids')}",
                data: { "wids" : w_id,"ids":ids},
                success: function(res){
                    layer.open({content: res.msg,skin: 'msg',time: 2});
                    window.location.reload();
                },
                error:function(){
                    layer.open({content: '网络错误',skin: 'msg',time: 2});
                }
            });
        })
    })
    
</script>
