<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
        <link rel="stylesheet" href="__STATIC__/appuser/css/home.css">
        <link rel="stylesheet" href="__STATIC__/appuser/css/css.css">
        <link rel="stylesheet" type="text/css" href="__STATIC__/appuser/css/aui.css" />
        <link rel="stylesheet" href="__STATIC__/appuser/css/aui.2.0.css">
        <link rel="stylesheet" href="__STATIC__/appuser/css/aui-slide.css">
        <link rel="stylesheet" href="__STATIC__/appuser/css/swiper.min.css">
        <link rel="stylesheet" href="__STATIC__/appuser/css/iconfont/iconfont.css">
        <link rel="stylesheet" href="__STATIC__/appuser/css/layer.css">
        <link rel="stylesheet" href="__STATIC__/appuser/css/main.css">  
        <title>{$title}</title>
    </head>
    <script src="__STATIC__/api.js"></script>